.footer-wrapper {
  background-color: #000000;
}

.footer-width {
  width: 76.5%;
  margin: 0 auto;
  padding: 4px 0;
  .block-link {
    width: 80%;
    display: inline-block;
  }
  a{
    text-decoration: none;
  }
  .sp-footer:nth-child(1):after{
    content: '';
  }
  .link-style {
    color: #ffffff;
    font-family: Rajdhani, sans-serif;
    font-size: 18px;
    margin: 0 39px 0 0;
    letter-spacing: 0px;
  }
  .block-sprites {
    width: 19.5%;
    display: inline-block;
    text-align: -webkit-right;
    text-align: -moz-right;
  }
  .sp-footer{
    margin: 0 0 0 5px;
  }
  .logo-footer{
    display: none;
  }
}


