@mixin textStyle {
  font-family: Rajdhani, sans-serif;
  font-size: 12px;
  color: #ffffff;
}

@mixin textBg {
  font-family: Rajdhani, sans-serif;
  color: #000000;
  font-size: 35px;
}

@mixin modalTitle {
  color: #fff;
  font-family: Rajdhani, sans-serif;
  font-size: 20px;
  background-color: #000000;
}

.slick-dotted.slick-slider {
  margin: 0;
}

.slick-dotted {
  .slick-next, .slick-prev {
    display: none !important;
  }
}

.slick-header {
  .slick-dots {
    top: 0;
    right: 11%;
    text-align: -webkit-right;
    text-align: -moz-right;
    //padding: 0.3% 0;
    li {
      margin: 0;
      width: 13px;
      height: 13px;
      button {
        padding: 0;
        margin: 0;
      }
      button:before {
        opacity: .75;
        color: black;
        border: 1px solid;
        width: 8px;
        height: 9px;
        border-radius: 10px;
        content: '';
      }
    }
  }

  .slick-dots li.slick-active button:before {
    background-color: #000;
  }
  .bg {
    background-color: #c5c5c5;
    width: 100%;
    text-align: -webkit-center;
    text-align: -moz-center;
    .text-1 {
      @include textStyle;
      letter-spacing: 1.3px;
    }
    .text-2 {
      @include textStyle;
      letter-spacing: 1.5px;
      padding: 0 0 0 1.3%;
    }
  }
}

.slick-banner {
  .slick-dots {
    bottom: 4%;
    text-align: -webkit-center;
    text-align: -moz-center;
    li {
      margin: 0 8px 0 0;
      width: 17px;
      height: 16px;
      button {
        padding: 0px;
        margin: 0 10% 0 0;
      }
      button:before {
        opacity: 1;
        color: transparent;
        background-color: #fff;
        border: 1px solid;
        width: 17px;
        height: 17px;
        border-radius: 19px;
        content: '';
      }
    }
  }
  .slick-dots li.slick-active button:before {
    background-color: #000;
  }
  .img-main {
    background: url("images/bg-main.png") no-repeat 0 83%;
    min-height: 706px;
    background-size: cover;
    position: relative;
    .text-on-bg {
      position: absolute;
      top: 37.5%;
      left: 18%;
      .text-1 {
        @include textBg;
        font-weight: 500;
      }
      .text-2 {
        font-family: Courier New, sans-serif;
        font-size: 23px;
        display: block;
        padding: 1.7% 0 0 0;
        margin: 0 0 0 -9%;
      }
      .text-margin {
        padding: 0 0 0 3%;
        letter-spacing: 1px;
      }
      button {
        background-color: #f8f7f3;
        border: 2px solid #393939;
        padding: 0% 5% 0% 6%;
        margin: 13.5% 0 0 15%;
        .text-button {
          color: #000;
          font-size: 25px;
          font-family: Rajdhani, sans-serif;
          font-weight: 500;
        }
      }
    }
    .text-on-bg:after {
      content: '';
      background-color: #212120;
      width: 315px;
      height: 2px;
      position: absolute;
      top: 30%;
      left: -20%;
    }
  }
}
.menu-nav-mobi {
  display: none !important;
}
.menu-nav-desk {
  display: block;
}
.tablet-modal-body .modal-footer{
  display: none;
}
.menu-nav-desk {
  padding: 0;
}

.menu-nav-desk .bg-nav {
  background-color: #000000;
  position: relative;
  padding: 0;
  height: 46px;
  .btn-primary {
    background-color: #000;
    color: #000;
    border: none;
    border-radius: 0;
    position: relative;
    .icon-bar {
      content: '';
      width: 27px;
      height: 3px;
      background-color: #fff;
      position: absolute;
    }
    .icon-1 {
      top: 2px;
    }
    .icon-2 {
      top: 9px;
    }
    .icon-3 {
      top: 16px;
    }
  }
  .tablet-modal-body {
    max-width: 603px;
    background-color: #000;
    .modal-header {
      border: none;
      padding-bottom: 6px;
      .title-menu {
        color: #fff;
        font-family: Rajdhani, sans-serif;
        margin: 0;
        display: inline-block;
        padding: 0 0 0 170px;
        font-size: 22px;
      }
      button {
        color: #fff;
        opacity: 1;
        float: right;
        margin-top: -4px;
      }
    }
    .modal-body {
      background-color: #000000;
      padding: 0 8px 0 0;
      .wrapper-header {
        background-color: #b1b1b1;
        text-align: -webkit-right;
        text-align: -moz-right;
        border: 1px;
        padding: 8px 0;
        .style-placeholder {
          font-family: Rajdhani, sans-serif;
          font-size: 16px;
          width: 60%;
          line-height: 23px;
          border: none;
          color: #585858;
          padding: 10px 16px;
          margin: 0 0 0 153px;

        }
        .search {
          background-color: #000000;
          border: none;
          float: none;
          padding: 0 5px;
          margin: 0 8px 0 5px;
        }
        .fa {
          font-size: 20px;
          padding: 9px 8px 12px 9px;
          color: #ffffff;
        }
      }
    }
    .modal-title {
      color: #fff;
      font-family: Rajdhani, sans-serif;
      font-size: 20px;
      text-align: -webkit-center;
      text-align: -moz-center;
    }
    .panel-group {
      margin-bottom: 0;
    }
    .panel {
      border-radius: 0;
      margin: 0;
    }
    .panel-heading {
      background-color: #fff;
      margin: 0 0 0 171px;
      padding: 27px 15px 19px 15px;
      .title {
        font-family: Rajdhani, sans-serif;
        font-size: 21px;
        font-weight: 600;
      }
      .button-acordion {
        font-size: 27px;
        text-decoration: none;
        float: right;
        margin: 0 9px 0 0;
      }
    }
    .panel-body {
      background-color: #000000;
      padding: 0;
      p {
        border-bottom: 1px solid #fff;
        float: left;
        width: 100%;
        padding: 13px 0 8px 185px;
        margin: 0;
        .categoria {
          @include modalTitle;
          text-decoration: none;
          float: left;
          letter-spacing: 1px;
        }
      }
      .fa {
        padding: 0 28px 0 0;
        color: #fff;
        float: right;
        font-size: 23px;
      }
    }
    .panel-body i:before {
      font-size: 20px;
    }
  }

  .nav-basket, .nav-login {
    padding: 0;
  }

  .nav-h, .nav-login {
    text-align: -webkit-center;
    text-align: -moz-center;
    .style-h, .style-login {
      color: #ffffff;
      font-family: Rajdhani, sans-serif;
      font-weight: 600;
      font-size: 28px;
    }
    .style-login {
      font-weight: 400;
      font-size: 27px;
      padding: 0;
      letter-spacing: 2px;
    }
  }

  .nav-basket img {
    vertical-align: text-top;
  }

}



