@mixin styleTextmobi {
  font-size: 12.5px;
  letter-spacing: 1px;
}

@mixin styleTexttablet {
  font-size: 11px;
}

@mixin title {
  font-family: Rajdhani, sans-serif;
  font-size: 16px;
}

@media (min-width: 1220px) and (max-width: 1367px) {
  .menu-nav-mobi {
    display: none !important;
  }
  .menu-nav-desk {
    display: block;
  }
  .tablet-modal-body .modal-footer {
    display: none;
  }
  main {
    .slick-men {
      margin: 0 196px;
      .slick-next {
        right: -4%;
      }
      .slick-prev {
        left: -4%;
      }
      .block-products {
        outline: none;
        .products {
          width: 100%;
          height: 280px;
          background-size: contain;
          background-position: 100% 100%;
        }
        .price-2 {
          display: none;
        }
        .product-3:hover {
          width: 100%;
          height: 280px;
          background-size: contain;
          background-position: 100% 100%;

        }
      }
    }
    .divisioria {
      margin: 20px 0 29px 0;
    }
    .collection {
      margin: 0 20px;
      .coll-row {
        .col {
          .img {
            height: 400px;
          }
          .block-front-3{
            width: 97%;
          }
          .block-front-4{
            width: 92%;
          }
          .block-front-5{
            width:92%;
          }
          .block-front-6{
            width: 97%;
          }
        }
      }
    }
    .gallery-1{
      margin: 0;
    }
    .gallery-2{
      margin: 0 19px;
    }
    .photos{
      .col-photo{
        margin: 0 5.5px 0 5.5px;
      }
      .col-photo-last{
        margin: 0 8px;
      }
    }
  }
  .block-btn{
    margin: 68px 44px 100px 44px;
    .btn-footer{
      margin: 0 15px 0 15px;
    }
    .btn-footer:nth-child(1){
      margin: 0 28px 0 0;
    }
    .btn-footer:nth-child(4){
      background-color: #d0d0d0;
      box-shadow: 0px 5px 2px 0px #717274;
      margin: 0 0 0 10px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .menu-nav-mobi {
    display: none !important;
  }
  .tablet-modal-body .modal-footer {
    display: none;
  }
  .img-main {
    min-height: 795px;
    min-width: 768px;
    background-size: 163% 89%;
    background-position: -247px -4px;
    background-repeat: no-repeat;
  }
  main {
    .slick-men {
      margin: 0 100px;
      .slick-next {
        right: -2.5%;
      }
      .slick-prev {
        left: -2%;
      }
      .block-products {
        outline: none;
        .products {
          width: 100%;
          height: 200px;
          background-position: 100% 100%;
          background-size: contain;
        }
        .product-3:hover {
          width: 100%;
          height: 200px;
          background-position: 100% 100%;
          background-size: contain;
        }
        .price-2 {
          display: none;
        }
      }
    }
    .divisioria {
      margin: 20px 0 29px 0;
    }
    .collection {
      margin: 0 20px;
      .coll-row {
        .col {
          .img {
            height: 315px;
          }
          .block-front-3 {
            width: 96%;
          }
          .block-front-4 {
            width: 90%;
          }
          .block-front-6 {
            width: 95%;
          }
        }
      }
    }
    .gallery-1 {
      margin: 0 18px;
    }
    .gallery-2 {
      margin: 0 8px;
    }
    .photos {
      .col-photo {
        margin: 0 5.5px;
      }
      .col-photo-last {
        margin: 0 2px;
      }
    }
  }
  .block-btn {
    margin: 68px 36px 100px 36px;
    .btn-footer{
      .btn-my{
        padding: 10px 15px 10px 15px;
      }
    }
    .btn-arrow:after{
      right: -16px;
      width: 32px;
      height: 34px;
    }
    .btn-footer:nth-child(4){
      box-shadow: 2px 2px 0px 1px #717274;
      border: 3px solid #d0d0d0;
    }
    .btn-footer:nth-child(1) .btn-my{
      padding: 10px 21px 10px 15px;
    }
    .btn-footer:nth-child(2) .btn-my {
      padding: 11px 80px 10px 80px;
    }
    .btn-footer:nth-child(3) .btn-my {
      padding: 11px 30px 10px 30px;
    }
    .btn-footer:nth-child(4) .btn-my {
      padding: 11px 32px 2px 32px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container-fluid{
    overflow: hidden;
  }
  .menu-nav-mobi {
    display: none !important;
  }
  .slick-header {
    .slick-dots {
      display: none !important;
    }
    .bg {
      padding: 0 5px;
      .text-1 {
        @include styleTexttablet;
        letter-spacing: 1px;
      }
      .text-2 {
        @include styleTexttablet;
        letter-spacing: 1px;
      }
    }
  }
  .slick-banner {
    .slick-dots {
      bottom: 3%;
      left: -0.4%;
      li {
        margin: 0px -1.5px 0 0;
        button:before {
          width: 14px;
          height: 14px;
          border-radius: 11px;
          color: #999999;
        }
      }
    }
    .img-main {
      min-height: 457px;
      background-size: 135% 100.5%;
      background-position: -139px 0px;
      .text-on-bg {
        top: 37%;
        left: 10.5%;
        .text-1 {
          font-size: 25px;
          padding: 0;
        }
        .text-margin {
          letter-spacing: -1px;
        }
        .text-2 {
          font-size: 15px;
          margin: -1% 0 0 -10%;
          letter-spacing: 0.6px;
        }
        button {
          padding: 0 5% 0 5%;
          margin: 12% 0 0 14%;
          .text-button {
            font-size: 16px;
            vertical-align: baseline;
            //vertical-align: -moz-middle-with-baseline;

          }
        }
      }
      .text-on-bg:after {
        content: '';
        background-color: #212120;
        width: 205px;
        height: 2px;
        position: absolute;
        top: 30%;
        left: -19%;
      }
    }
  }
  .menu-nav-desk {
    display: block;
    .bg-nav {
      background-color: #000000;
      position: relative;
      height: 38px;
      .btn-primary {
        text-align: -webkit-center;
        text-align: -moz-center;
        margin: 7px 0 0 0;

        background-color: #000;
        color: #000;
        border: none;
        border-radius: 0;
        position: relative;
        .icon-bar {
          content: '';
          width: 27px;
          height: 3px;
          background-color: #fff;
          position: absolute;
        }
        .icon-1 {
          top: 2px;
        }
        .icon-2 {
          top: 9px;
        }
        .icon-3 {
          top: 16px;
        }
      }
      .tablet-modal-body {
        max-width: 277px;
        .modal-header {
          padding: 10px 0 8px 0;
          .title-menu {
            padding: 0 0 0 25px;
            font-size: 17px;
            letter-spacing: 1px;
          }
          .close {
            padding: 0 25px 0 0;
          }
          .close-h {
            width: 12px;
            height: 14px;
          }
        }
        .modal-body {
          padding: 0 2px 0 0;
          .wrapper-header {
            padding: 3px 0 7px 12px;
            .style-placeholder {
              width: 81%;
              font-size: 14px;
              letter-spacing: 1px;
              margin: 0;
              padding: 6px 0 5px 12px;
            }
            .search {
              margin: 0px 7px 0px 1px;
              padding: 0 5px 0 5px;;

              .fa {
                padding: 6px 5px 9px 5px;
                margin: 0;
              }
              .fa:before {
                font-size: 18px;
              }
            }
          }
        }
        .modal-footer {
          border: none;
          background-color: #fff;
          padding: 0 8px 0 0;
          border-right: 2px solid #000;
          border-bottom: 2px solid #000;
          .sprites-menu {
            padding: 11px 9px 3px 0;
            .icon, .tw-bg, .inst-bg {
              display: inline-block;
            }
            .fe {
              padding: 0 6px 0 2px;
            }
            .tw-bg {
              background: url('images/sprite-tw.png') no-repeat;
              height: 18px;
              width: 27px;
            }
            .inst-bg {
              background: url('images/sprite-insagram.png') no-repeat;
              height: 20px;
              width: 20px;
            }
            .fa-facebook:before {
              font-size: 20px;
            }
          }
        }
        .panel-heading {
          margin: 0;
          padding: 14px 5px 10px 25px;
          .title {
            font-size: 17px;
          }
          .button-acordion {
            font-size: 24px;
            margin: -5px 16px 0 0;
          }
        }
        .panel-padding {
          padding: 14px 5px 9px 25px;
        }
        .panel-body {
          p {
            padding: 9px 0 6px 27px;
            .categoria {
              font-size: 17px;
            }
            .fa {
              padding: 0 18px 0 0;
            }
          }
        }
        .nav-h {
          text-align: -webkit-center;
          text-align: -moz-center;
        }
        .nav-login {
          text-align: -webkit-center;
          text-align: -moz-center;
        }
        .nav-login .style-login {
          font-size: 21px;
        }
        .div-login {
          padding: 0;
          margin: 5px 0 0 0;
        }
        .nav-basket {
          padding: 0;
        }
        .nav-basket img {
          width: 36px;
          height: 26px;
        }
      }
    }
  }
  main {
    .text-slick {
      padding: 62px 0 15px 0;
      .text-imgTablet {
        display: block;
      }
      .text-imgDesk {
        display: none;
      }
      .style-header {
        font-size: 19px;
      }
    }
    .block-h:before {
      content: url("images/arrow-mobiLT.png");
      margin: 0 20px 0 0;
    }
    .block-h:after {
      content: url("images/arrow-mobiRT.png");
      margin: 0 0 0 19px;
    }
    .slick-men {
      margin: 0;
      .block-products:not(.slick-active) {
        opacity: 0.2;
      }
      .block-products {
        position: relative;
        .products {
          height: 277px;
          width: 100%;
          background-size: 100% 100%;
          background-position: 100% 100%;
          //margin:0 7.5px;
        }
        .product-3:hover {
          width: 100%;
          height: 277px;
          background-position: 100% 100%;
          background-size: cover;
        }
        .price {
          width: 100%;
          color: #888888;
          display: block;
        }
        .price:not(.price-not) {
          text-decoration: line-through;
        }
        .price-2 {
          @include title;
          font-size: 17px;
          color: #000000;
          font-weight: 800;
          margin: -6px 0 0 0;
          display: block;
          letter-spacing: 1px;
        }
        .hover-compare-content {
          display: none;
        }
        .hover-comprar:hover .hover-compare-content {
          display: block;
          color: #ffffff;
          background-color: #4f4f4e;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
          text-align: -webkit-center;
          font-family: Rajdhani, sans-serif;
          font-size: 19px;
          font-weight: 600;
          letter-spacing: 2px;

        }
      }
      .block-products:hover {
        outline: none;
      }
    }
    .divisioria {
      margin: 16px 0 26px 0;
      img {
        width: 18%;
      }
    }
    .collection {
      margin: 0 9px;
      .coll-row {
        margin-bottom: 15px;
        .col {
          padding-left: 10px;
          padding-right: 6px;
          .img {
            height: 263px;
          }
          .link-bg{
            font-size: 19px;

          }
          .block-front:hover{
            display: none;
          }
        }
      }
    }
    .gallery-1{
      margin: 0;
    }
    .gallery-2{
      margin: 0 9px;
    }
    .photos .col-photo{
        margin: 0 3px;
    }
    .photos .col-photo .block-front{
      display: none;
    }
    .photos .col-photo-last{
      margin: 0 6px;
    }
    .style-header{
      font-size: 18px;
      letter-spacing: 1px;
    }
    .block-h{
      padding: 16px 0;
    }
  }
  .block-btn {
    margin: 40px 15px 100px 15px;
    .btn-footer{
      margin: 0 6px 0 6px;
      .btn-my{
        padding: 4px 15px 7px 15px;
      }
    }
    .btn-footer:nth-child(1){
      margin: 0 10px 0 0;
      border: none;
    }
    .btn-footer:nth-child(4){
      margin: 0 0 0 8px;
      box-shadow: 2px 2px 0px 1px #717274;
    }
    .btn-arrow .btn-style-arrow{
      font-size: 13px;
    }
    .btn-style{
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 2px;
    }
    .btn-arrow:after{
      right: -11px;
      top: 81%;
      width: 22px;
      height: 22px;
    }

    .btn-footer:nth-child(1) .btn-my{
      padding: 4px 15px 7px 9px;
    }
    .btn-footer:nth-child(2) .btn-my {
      padding: 4px 97px 4px 82px;
    }
    .btn-footer:nth-child(3) .btn-my {
      padding: 4px 32px 5px 32px;
    }
    .btn-footer:nth-child(4) .btn-my {
      padding: 2px 21px 4px 21px;
    }
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .container-fluid{
    overflow: hidden;
  }
  .menu-nav-mobi {
    display: block;
    height: 40px;
    .bg-nav {
      background-color: #000000;
      position: relative;
      padding: 0;
      .btn-primary {
        background-color: #000;
        color: #000;
        border: none;
        border-radius: 0;
        position: relative;
        float: left;
        text-align: -webkit-left;
        text-align: -moz-left;
        margin-top: 8px;
        .icon-bar {
          content: '';
          width: 27px;
          height: 3px;
          background-color: #fff;
          position: absolute;
        }
        .icon-1 {
          top: 2px;
        }
        .icon-2 {
          top: 9px;
        }
        .icon-3 {
          top: 16px;
        }
      }
    }
    .modal {
      top: 0;
    }
    .modal-dialog {
      margin: 0;
      width: 100%;
      .modal-content {
        border-radius: 0;
        margin: 0;
        .modal-header {
          background-color: #000;
          padding: 0;
          border: none;
          .close-button {
            color: #fff;
            opacity: 1;
            background-color: transparent;
            font-size: 30px;
            font-weight: 300;
            font-family: Rajdhani, sans-serif;
            padding: 0;
            margin: 0;
          }
        }
        .modal-body {
          background-color: #b1b1b1;
          padding: 5px 10px;
          .style-placeholder {
            font-family: Rajdhani, sans-serif;
            font-size: 12px;
            line-height: 23px;
          }
          .search {
            height: 28px;
            background-color: #000;
            border: none;
          }
          .search .fa {
            color: #ffffff;
          }
        }
      }
      .modal-title {
        color: #fff;
        @include title;
        line-height: 30px;
      }
      .modal-footer {
        padding: 0;
        .panel-group .panel {
          border-radius: 0;
          border: none;
          margin: 0;
        }
        .panel-title a {
          @include title;
          text-decoration: none;
        }
        .panel-title .title {
          text-align: -webkit-left;
          text-align: -moz-left;
        }
        .panel-default .panel-heading {
          border-bottom: 1px solid #dddddd;
          background-color: #ffffff;
        }
        .panel-body {
          background-color: #000;
          border: none;
          padding: 5px 0 0 0;
        }
        .panel-body a {
          color: #fff;
          @include title;
          font-size: 14px;
          text-align: -webkit-left;
          text-align: -moz-left;
        }
        .panel-body .categoria-button {
          text-align: -webkit-right;
          text-align: -moz-right;
          padding: 0;
        }
        .panel-body p {
          border-bottom: 1px solid #fff;
          margin: 0px 0 5px 0;
        }
        .panel-body p:last-child {
          margin: 0;
        }
      }
    }
  }
  .div-login {
    padding: 0;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: 2px;
  }
  .nav-login {
    display: none;
  }
  .nav-basket {
    padding: 0;
  }
  .nav-h {
    text-align: -webkit-center;
    text-align: -moz-center;
    padding: 0;
    .style-h {
      color: #ffffff;
      font-family: Rajdhani, sans-serif;
      font-weight: 600;
      font-size: 28px;
    }
  }
  .nav-basket img {
    width: 37px;
    height: 28px;
  }
  .menu-nav-desk {
    display: none !important;
  }
  .slick-header {
    //height: 45px!important;
    .slick-dots {
      display: none !important;
    }
    .bg {
      .text-1 {
        @include styleTextmobi;
      }
      .text-2 {
        @include styleTextmobi;
        font-size: 12.5px;
      }
    }
  }
  .slick-banner {
    .slick-dots {
      bottom: 19%;
      li {
        margin: 0px -1.5px 0 0;
        button:before {
          width: 11px;
          height: 11px;
          border-radius: 11px;
          color: #999999;
        }
      }
    }
    .img-main {
      min-height: 233px;
      //min-width: 320px;
      background-size: 181% 99%;
      background-position: -83px -36px;
      .text-on-bg {
        top: 23.5%;
        left: 11%;
        .text-1 {
          font-size: 15px;
          padding: 0;
        }
        .text-2 {
          font-size: 11px;
          margin: -1% 0 0 -18%;
        }
        button {
          padding: 0 7% 0 7%;
          margin: 8% 0 0 0;
          .text-button {
            font-size: 16px;
            vertical-align: baseline;
          }
        }
      }
      .text-on-bg:after {
        content: '';
        background-color: #212120;
        width: 129px;
        height: 2px;
        position: absolute;
        top: 28%;
        left: -18%;
      }
    }
  }
  main {
    .text-slick {
      padding: 0;
      margin: -18px 0 0 0;
      .img {
        width: 100%;
      }
      .style-header {
        font-size: 17px;
      }
      .block-h {
        padding: 16px 0 16px 0;
      }
      .block-h:before {
        content: url("images/arrow-mobiLT.png");
        margin: 0px 8px 0 0;
      }
      .block-h:after {
        content: url("images/arrow-mobiRT.png");
        margin: 0 0px 0 9px;
      }
    }
    .slick-men {
      .block-products:not(.slick-current) {
        opacity: 0.2;
      }
      margin: 22px 0 0 0;
      .block-products {
        width: 190px;
        text-align: -webkit-center;
        text-align: -moz-center;
        margin: 0;
        padding: 0;
        .products {
          width: 159px;
          height: 280px;
          padding: 0;
          background-size: 100% 100%;
          background-position: -3% 61%;
        }
        .product-1 {
          background-size: 100% 100%;
          background-position: -3% 61%;
        }
        .price {
          width: 100%;
          color: #888888;
          display: block;
        }
        .price:not(.price-not) {
          text-decoration: line-through;
        }
        .price-2 {
          @include title;
          font-size: 17px;
          color: #000000;
          font-weight: 800;
          margin: -6px 0 0 0;
          display: block;
          letter-spacing: 1px;
        }
        .product-3:hover {
          display: none;
        }
        .hover-comprar {
          display: none;
        }
      }
      .slick-current:not {
        opacity: 0.3;
      }
    }
    .divisioria {
      margin: 42px 0 32px 0;
      img {
        width: 39%;
      }
    }
    .collection {
      margin: 0 0 0 0;
      .coll-row {
        margin-bottom: 15px;
        .col {
          img {
            height: 215px;
          }
          .img-height-3 {
            height: 163px;
          }
          .img-height-4 {
            height: 310px;
          }
          .img-height-5 {
            height: 290px;
          }
          .img-height-6 {
            height: 172px;
          }
          .link-bg {
            font-size: 20px;
            top: 43.5%;
            left: 32.5%;
            letter-spacing: 4px;
          }
          .link-bg-2 {
            top: 42.5%;
            left: 37.5%;
          }
          .link-bg-3 {
            top: 39.5%;
            left: 26.5%;
          }
          .link-bg-4 {
            top: 45.5%;
            left: 35%;
          }
          .link-bg-5 {
            top: 44%;
            left: 38%;
          }
          .link-bg-6 {
            top: 40%;
            left: 32%;
          }
          .block-front:hover {
            display: none;
          }
        }
      }
      .coll-margin {
        margin-bottom: 15px;
      }
    }
    .block-h {
      padding: 6px 0 26px 0;
    }
    .block-h:before {
      content: url("images/arrow-mobiLT.png");
      margin: 0px 15px 0 0;
    }
    .block-h:after {
      content: url("images/arrow-mobiRT.png");
      margin: 0 0px 0 15px;
    }
    .block-h2{
      padding: 26px 0 17px 0;
    }
    .block-h2:before{
      margin: 0 26px 0 0;
    }
    .block-h2:after{
      margin: 0 0 0 25px;
    }
    .style-header {
      font-size: 17px;
    }
    .gallery-1{
      margin: 0 -87px;
    }
    .gallery-2{
      margin: 0 -130px;
    }
    .photos{
      .col-photo:nth-child(1),.col-photo:nth-child(5){
         display: none;
       }
      .col-photo:nth-child(2),.col-photo:nth-child(4){
        opacity: 0.4;
      }
      .col-photo{
        width: 27%;
        margin: 0 6px;
        .block-front{
          display: none;
        }
      }
      .col-photo-last:nth-child(4){
        display: none;
      }
      .col-photo-last:nth-child(1),.col-photo-last:nth-child(3){
        opacity: 0.4;
      }
      .col-photo-last{
        margin: 0 7px;
        width: 29%;
      }
    }
  }
  .block-btn {
    margin: 56px 0 100px 0;
    .btn-footer{
      margin: 0;
      width: 100%;
      border: none;
      .btn-my{
        padding: 10px 29px 7px 33px;
        width: 94%;
        border: 2px solid #d0d0d0;
      }
    }
    .btn-footer:nth-child(1){
      border: none;
      margin: 0;
    }
    .btn-footer:nth-child(4){
      box-shadow: 2px 2px 0px 1px #717274;
      margin: 0;
    }
    .btn-arrow .btn-style-arrow{
      font-size: 17px;
    }
    .btn-style{
      font-size: 13px;
      font-weight: 800;
      letter-spacing: 2px;
    }
    .btn-arrow:after{
      display: none;
    }

    .btn-footer:nth-child(1) .btn-my{
      border: none;
    }
    .btn-footer:nth-child(2) .btn-my {
      padding: 10px 29px 7px 33px;
    }
    .btn-footer:nth-child(4) .btn-my {
      border: none;
    }
  }
}