@mixin styleTextmobi {
  font-size: 12.5px;
  letter-spacing: 1px;
}

@mixin styleTexttablet {
  font-size: 11px;
}
@mixin title{
  font-family: Rajdhani, sans-serif;
  font-size: 16px;
}
@media (min-width: 1220px) {
  //.container {
  //  min-width: 1600px;
  //  margin: 0;
  //  padding: 0;
  //}
  .menu-nav-mobi {
    display: none !important;
  }
  .menu-nav-desk {
    display: block;
  }
  .slick-banner {
    .img-main {
      //background: url(images/bg-main.png) no-repeat 0% 83%;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .menu-nav-mobi {
    display: none !important;
  }
  .img-main {
    min-height: 795px;
    min-width: 768px;
    background-size: 163% 89%;
    background-position: -247px -4px;
    background-repeat: no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .menu-nav-mobi {
    display: none !important;
  }

  .slick-header {
    .slick-dots {
      display: none !important;
    }
    .bg {
      padding: 0 5px;
      .text-1 {
        @include styleTexttablet;
        letter-spacing: 1px;
      }
      .text-2 {
        @include styleTexttablet;
        letter-spacing: 1px;
      }
    }
  }
  .slick-banner {
    .slick-dots {
      bottom: 3%;
      left: -0.4%;
      li {
        margin: 0px -1.5px 0 0;
        button:before {
          width: 14px;
          height: 14px;
          border-radius: 11px;
          color: #999999;
        }
      }
    }
    .img-main {
      min-height: 457px;
      background-size: 135% 100.5%;
      background-position: -139px 0px;
      .text-on-bg {
        top: 37%;
        left: 10.5%;
        .text-1 {
          font-size: 25px;
          padding: 0;
        }
        .text-margin {
          letter-spacing: -1px;
        }
        .text-2 {
          font-size: 15px;
          margin: -1% 0 0 -10%;
          letter-spacing: 0.6px;
        }
        button {
          padding: 0 5% 0 5%;
          margin: 12% 0 0 14%;
          .text-button {
            font-size: 16px;
            vertical-align: baseline;
            //vertical-align: -moz-middle-with-baseline;

          }
        }
      }
      .text-on-bg:after {
        content: '';
        background-color: #212120;
        width: 205px;
        height: 2px;
        position: absolute;
        top: 30%;
        left: -19%;
      }
    }
  }
  .menu-nav-desk {
    display: block;
    .bg-nav {
      background-color: #000000;
      position: relative;
      .btn-primary {
        background-color: #000;
        color: #000;
        border: none;
        border-radius: 0;
        position: relative;
        margin: 0.3% 0 0.3% 6%;
        .icon-bar {
          content: '';
          width: 27px;
          height: 3px;
          background-color: #fff;
          position: absolute;
        }
        .icon-1 {
          top: 2px;
        }
        .icon-2 {
          top: 9px;
        }
        .icon-3 {
          top: 16px;
        }
      }
      .modal {
        top: 0;
      }
      .modal-dialog {
        background-color: #000;
        width: 34%;
        margin: 0 2%;
        top: 8%;
        .modal-content {
          border-radius: 0;
          margin: -5%;

          .modal-header {
            background-color: #000;
            padding: 0;
            border: none;
            button {
              color: #fff;
              opacity: 1;
              background-color: transparent;
              margin: -2% 0% -2% 0;

              font-size: 70px;
              font-weight: 300;
              font-family: Rajdhani, sans-serif;
              padding: 0;
              width: 55px;
              height: 30px;
            }
          }
          .modal-body {
            background-color: #b1b1b1;
            .style-placeholder {
              font-family: Rajdhani, sans-serif;
              font-size: 16px;
              padding: 1.5% 29% 1.5% 4%;
              margin: 0% 29%;
              line-height: 23px;
            }
          }
          .modal-title {
            color: #fff;
            font-family: Rajdhani, sans-serif;
            font-size: 20px;
            padding: 1.7% 0 1% 30.5%;
          }
          .modal-footer {
            border: none;
            .panel{
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .menu-nav-mobi {
    display: block;
    height: 40px;
    .bg-nav {
      background-color: #000000;
      position: relative;
      padding: 0;
      .btn-primary {
        background-color: #000;
        color: #000;
        border: none;
        border-radius: 0;
        position: relative;
        float: left;
        text-align: -webkit-left;
        text-align: -moz-left;
        margin-top: 8px;
        .icon-bar {
          content: '';
          width: 27px;
          height: 3px;
          background-color: #fff;
          position: absolute;
        }
        .icon-1 {
          top: 2px;
        }
        .icon-2 {
          top: 9px;
        }
        .icon-3 {
          top: 16px;
        }
      }
    }
    .modal {
      top: 0;
    }
    .modal-dialog {
      margin: 0;
      width: 100%;
      .modal-content {
        border-radius: 0;
        margin: 0;
        .modal-header {
          background-color: #000;
          padding: 0;
          border: none;
          .close-button {
            color: #fff;
            opacity: 1;
            background-color: transparent;
            font-size: 30px;
            font-weight: 300;
            font-family: Rajdhani, sans-serif;
            padding: 0;
            margin: 0;
          }
        }
        .modal-body {
          background-color: #b1b1b1;
          padding: 5px 10px;
          .style-placeholder {
            font-family: Rajdhani, sans-serif;
            font-size: 12px;
            line-height: 23px;
          }
          .search {
            height: 28px;
            background-color: #000;
            border: none;
          }
          .search .fa {
            color: #ffffff;
          }
        }
      }
      .modal-title {
        color: #fff;
        @include title;
        line-height: 30px;
      }
      .modal-footer {
        padding: 0;
        .panel-group .panel{
          border-radius: 0;
          border: none;
          margin: 0;
        }
        .panel-title a{
          @include title;
          text-decoration: none;
        }
        .panel-title .title{
          text-align: -webkit-left;
          text-align: -moz-left;
        }
        .panel-default .panel-heading{
          border-bottom: 1px solid #dddddd;
          background-color: #ffffff;
        }
        .panel-body{
          background-color: #000;
          border: none;
          padding: 5px 0 0 0;
        }
        .panel-body a{
          color: #fff;
          @include title;
          font-size: 14px;
          text-align: -webkit-left;
          text-align: -moz-left;
        }
        .panel-body .categoria-button{
          text-align: -webkit-right;
          text-align: -moz-right;
          padding:0;
        }
        .panel-body p{
          border-bottom: 1px solid #fff;
          margin: 0px 0 5px 0;
        }
        .panel-body p:last-child{
          margin: 0;
        }
      }
    }
  }

  .div-login {
    padding: 0;
    text-align: -webkit-center;
    text-align: -moz-center;
    margin-top: 2px;
  }

  .nav-login {
    display: none;
  }

  .nav-basket {
    padding: 0;
  }

  .nav-h {
    text-align: -webkit-center;
    text-align: -moz-center;
    padding: 0;
    .style-h {
      color: #ffffff;
      font-family: Rajdhani, sans-serif;
      font-weight: 600;
      font-size: 28px;
    }
  }

  .nav-basket img {
    width: 37px;
    height: 28px;
  }

  .menu-nav-desk {
    display: none !important;
  }

  .slick-header {
    //height: 45px!important;
    .slick-dots {
      display: none !important;
    }
    .bg {
      .text-1 {
        @include styleTextmobi;
      }
      .text-2 {
        @include styleTextmobi;
        font-size: 12.5px;
      }
    }
  }

  .slick-banner {
    .slick-dots {
      bottom: 19%;
      li {
        margin: 0px -1.5px 0 0;
        button:before {
          width: 11px;
          height: 11px;
          border-radius: 11px;
          color: #999999;
        }
      }
    }
    .img-main {
      min-height: 233px;
      //min-width: 320px;
      background-size: 181% 99%;
      background-position: -83px -36px;
      .text-on-bg {
        top: 23.5%;
        left: 11%;
        .text-1 {
          font-size: 15px;
          padding: 0;
        }
        .text-2 {
          font-size: 11px;
          margin: -1% 0 0 -18%;
        }
        button {
          padding: 0 7% 0 7%;
          margin: 8% 0 0 0;
          .text-button {
            font-size: 16px;
            vertical-align: baseline;
            //vertical-align: -moz-middle-with-baseline;

          }
        }
      }
      .text-on-bg:after {
        content: '';
        background-color: #212120;
        width: 129px;
        height: 2px;
        position: absolute;
        top: 28%;
        left: -18%;
      }
    }
  }
}