main {
  .text-slick {
    text-align: -webkit-center;
    text-align: -moz-center;
    padding: 37px 0 19px 0;
    .style-header{
      font-family: Rajdhani, sans-serif;
      font-size: 23px;
      color: #000000;
      letter-spacing: 1px;
    }
    .block-h1:before{
      content:url("images/arrow-LF.png");
      margin: 0 25px 0 0;
    }
    .block-h1:after{
      content:url("images/arrowRT.png");
      margin: 0 0 0 23px;

    }
  }
  .slick-men {
    float: none;
    margin: 0 197px;
    .slick-prev,.slick-next{
      top: 47%;
    }
    .slick-next{
      right: -1%;
    }
    .slick-prev{
      left: -1%;
    }
    .slick-prev:before{
      content: url('images/arrow-grey-LF.png');
      //height: 20px;
    }
    .slick-next:before{
      content: url('images/arrow-grey-RT.png');
    }
    .block-products {
      text-align: -webkit-center;
      text-align: -moz-center;
      margin: 0;
      padding: 0 7.5px;
      .products {
        height: 333px;
        width: 100%;
      }
      .price {
        //margin: 7px 67px 0 67px;
        font-family: Rajdhani, sans-serif;
        font-size: 15px;
        color: #000000;
        margin: 0;
        width: 100%;
      }
      .price-2{
        display: none;
      }
      .hover-comprar {
        height: 100%;
        .hover-compare-content {
          display: none;
        }
        .hover-comprar:hover .hover-compare-content {
          display: block;
          color: #ffffff;
          background-color: #4f4f4e;
          position: absolute;
          bottom: 0;
          width: 100%;
          left: 0;
          text-align: -webkit-center;
          font-family: Rajdhani, sans-serif;
          font-size: 19px;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
      .product-1 {
        background: url('images/product-1.png') no-repeat;
      }
      .product-2 {
        background: url('images/product-2.png') no-repeat;
      }
      .product-3 {
        background: url('images/product-3.png') no-repeat;
        position: relative;
      }
      .product-3:hover {
        background: url('images/droduct-over.png') no-repeat;
        height: 333px;
        width: 100%;
      }
      .product-4 {
        background: url('images/product-4.png') no-repeat;
      }
      .product-5 {
        background: url('images/product-5.png') no-repeat;
      }
      .product-6 {
        background: url('images/product-6.png') no-repeat;
      }
    }
  }
  .divisioria{
    text-align: -webkit-center;
    text-align: -moz-center;
    margin: 67px 0 38px 0;
  }
}
